<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="pagenot-found-sec">
        <div class="pagenot-found-row">
          <div class="count-txt">
            <h1>4</h1>
            <i><img src="assets/images/error-404.png" alt=""/></i>
            <h1>4</h1>
          </div>
          <div class="not-found-txt">
            <p>Page Not Found!</p>
            <span
              >The page you are looking for might have been removed, had its
              name changed, or unavailable.</span
            >
            <button
              type="button"
              class="btn-cmn btn-green btn-shadow text-center back-btn"
              (click)="gotoDashboard()"
            >
              Back to Dashboard
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
