<header>
  <div class="container">
    <div class="col-sm-4">
      <div class="logo">
        <a href="/"><img src="assets/image/logo.png" class="img-responsive" alt="Ranthambore Safari"></a>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="pull-right">
        <ul class="list-inline callus">
          <!-- <li><a href="#" class="btn btn-success"  data-toggle="modal" data-target="#myModal">Current Booking</a></li>  -->

          <li><a href="tel:7838498645"><img src="assets/image/icons/call.jpg" alt="Call"> +91 7838 4986 45</a></li>
          <li><a href="tel:7289842772"><img src="assets/image/icons/call.jpg" alt="Call"> +91 7289 8427 72</a></li>
          <li><a href="tel:8929631440"><img src="assets/image/icons/call.jpg" alt="Call"> +91 8929 6314 40</a></li>

          <li><a href="mailto:ranthambore360@gmail.com"><img src="assets/image/icons/email.jpg" alt="Email"> ranthambore360@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>