<footer>
  <div class="footertop">
    <div class="container">
      <ul class="list-inline">
        <li>Phone: <a href="tel:+91 7838 4986 45"><i class="fa fa-phone"></i> +91 7838 4986 45 </a> Or 
        <a href="tel:+91 7289 8427 72"><i class="fa fa-phone"></i> +91 7289 8427 72</a> Or
        <a href="tel:+91 8929 6314 40"><i class="fa fa-phone"></i> +91 8929 6314 40</a></li>
        <li>Enquiry: <a href="mailto:ranthambore360@gmail.com"><i class="fa fa-envelope"></i> ranthambore360@gmail.com</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row" style="padding: 7px 0;">
      <div class="col-sm-6">
        <p><i class="fa fa-copyright"></i> Copyright 2019. Ranthambore Jungle Safari. All Rights Reserved</p>
      </div>
      <div class="col-sm-6">
        <ul class="list-inline pull-right noright">
          <li style="list-style: disc"><a href="terms-and-condition">Terms & Conditions</a></li>
          <li style="list-style: disc"><a href="privacy-policy">Privacy Policy</a></li>
          <li style="list-style: disc"><a href="cancellation-policy">Cancellation Policy</a></li>
          <li style="list-style: disc"><a href="contact-us">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>