<app-header></app-header>
<div class="container">
  <div class="listing-section">
    <div class="product">
      <h3 style="text-align:center; margin-top:5px;margin-bottom: 5px;margin-left: 52px;"><strong><b>Cambal Safari Option 1</b></strong></h3>
      <div class="image-box">
        <div class="images" id="image-1"></div>
      </div>
      <div class="text-box">
        <h2 class="item">Chambal Safari booking</h2>
        <p><i style="color:blue; font-size: 14px;" class="fa fa-check-circle" aria-hidden="true"></i> Chambal Safari</p>
        <p><i class="fa fa-times-circle-o" style="color:green; font-size:14px;" aria-hidden="true"></i> Pickup & Drop</p>
        <p> <i class="fa fa-times-circle-o" style="color:green; font-size:14px;" aria-hidden="true"></i> Lunch</p>
        <p><i style="color:blue; font-size: 14px;" class="fa fa-check-circle" aria-hidden="true"></i> Live Jackets</p>
        <h3 class="price">INR <b><strong>{{ price1 }}</strong></b> PER PERSON</h3>
        <a href="chambal-booking/1"><button type="button" name="item-1-button" id="item-1-button">Select</button></a>
      </div>
    </div>

    <div class="product">
      <h3 style="text-align:center; margin-top:5px;margin-bottom: 5px;margin-left: 52px;"><strong><b>Cambal Safari Option 2</b></strong></h3>
      <div class="image-box">
        <div class="images" id="image-3"></div>
      </div>
      <div class="text-box">
        <h2 class="item">Chambal Safari Booking with Pickup and Drop from Resort</h2>
        <p><i style="color:blue; font-size: 14px;" class="fa fa-check-circle" aria-hidden="true"></i> Chambal Safari</p>
        <p><i style="color:blue; font-size: 14px;" class="fa fa-check-circle" aria-hidden="true"></i> Pickup & Drop</p>
        <p> <i class="fa fa-times-circle-o" style="color:green; font-size:14px;" aria-hidden="true"></i> Lunch</p>
        <p><i style="color:blue; font-size: 14px;" class="fa fa-check-circle" aria-hidden="true"></i> Live Jackets</p>
        <h3 class="price">INR <b><strong>{{ price5 }}</strong></b> PER PERSON</h3>
        <a href="chambal-booking/2"><button type="button" name="item-1-button" id="item-1-button">Select</button></a>
      </div>
    </div>

    <div class="product">
      <h3 style="text-align:center; margin-top:5px;margin-bottom: 5px;margin-left: 52px;"><strong><b>Cambal Safari Option 3</b></strong></h3>
      <div class="image-box">
        <div class="images" id="image-2"></div>
      </div>
      <div class="text-box">
        <h2 class="item">Chambal Safari Booking with Lunch</h2>
        <p><i style="color:blue; font-size: 14px;" class="fa fa-check-circle" aria-hidden="true"></i> Chambal Safari</p>
        <p><i class="fa fa-times-circle-o" style="color:green; font-size:14px;" aria-hidden="true"></i> Pickup & Drop</p>
        <p> <i style="color:blue; font-size: 14px;" class="fa fa-check-circle" aria-hidden="true"></i> Lunch</p>
        <p><i style="color:blue; font-size: 14px;" class="fa fa-check-circle" aria-hidden="true"></i> Live Jackets</p>
        <h3 class="price">INR <b><strong>{{ price3 }}</strong></b> PER PERSON</h3>
        <a href="chambal-booking/3"><button type="button" name="item-1-button" id="item-1-button">Select</button></a>
      </div>
    </div>
    
    <div class="product">
      <h3 style="text-align:center; margin-top:5px;margin-bottom: 5px;margin-left: 52px;"><strong><b>Cambal Safari Option 4</b></strong></h3>
      <div class="image-box">
        <div class="images" id="image-4"></div>
      </div>
      <div class="text-box">
        <h2 class="item">Chambal Safari Booking with Luch including Pickup and Drop from Resort</h2>
         <p><i style="color:blue; font-size: 14px;" class="fa fa-check-circle" aria-hidden="true"></i> Chambal Safari</p>
        <p><i style="color:blue; font-size: 14px;" class="fa fa-check-circle" aria-hidden="true"></i> Pickup & Drop</p>
        <p> <i style="color:blue; font-size: 14px;" class="fa fa-check-circle" aria-hidden="true"></i> Lunch</p>
        <p><i style="color:blue; font-size: 14px;" class="fa fa-check-circle" aria-hidden="true"></i> Live Jackets</p>
        <h3 class="price">INR <b><strong>{{ price3 }}</strong></b> PER PERSON</h3>
        <a href="chambal-booking/4"><button type="button" name="item-1-button" id="item-1-button">Select</button></a>
      </div>
    </div>


  </div>
</div>
<br>
<br>


<app-footer></app-footer>