<div class="row mr-0">
<div>
<h3 style="padding: 10px;">  Ranthambore Jungle Safari 
 ( Ranthambore National Park )
Admin Panel</h3>
  </div>
<!--   <div class="col-lg-3">
     <ngx-charts-number-card [scheme]="salesBgColor" [textColor]="'#fff'" [innerPadding]="0" [results]="sales"
        [valueFormatting]="infoValueFormat" [labelFormatting]="infoLabelFormat" (select)="onSelect($event)">
      </ngx-charts-number-card>
  </div> -->
<!--   <div class="col-lg-3">
    <ngx-charts-number-card [scheme]="likesBgColor" [textColor]="'#fff'" [innerPadding]="0" [results]="likes"
        [valueFormatting]="infoValueFormat" [labelFormatting]="infoLabelFormat" (select)="onSelect($event)">
      </ngx-charts-number-card>
  </div>
  <div class="col-lg-3">
       <ngx-charts-number-card [scheme]="downloadsBgColor" [textColor]="'#fff'" [innerPadding]="0" [results]="downloads"
        [valueFormatting]="infoValueFormat" [labelFormatting]="infoLabelFormat" (select)="onSelect($event)">
      </ngx-charts-number-card>
    </div>
    <div class="col-lg-3">
        <ngx-charts-number-card [scheme]="profitBgColor" [textColor]="'#fff'" [innerPadding]="0" [results]="profit"
        [valueFormatting]="infoValueFormat" [labelFormatting]="infoLabelFormat" (select)="onSelect($event)">
      </ngx-charts-number-card>
     </div> -->
</div>

