<div class="modal-header">
    <div class="title-row py-0">
      <!-- <div class="inner-page-title">Booking Details</div> -->
      <div class="alert alert-info"><b>Booking Details</b></div>

      <div [hidden]="pdf_file_link">
      <form [formGroup]="zoneEditForm" (ngSubmit) = "mdfLogin(zoneEditForm.value)" >
          <div>
              <input type="text" class="textbox" name="zone" placeholder="Enter Zone to Generate Voucher Pdf" formControlName="zone">
              <input type="submit" class="btn btn-info" value="Generate Pdf" [disabled] = "!zoneEditForm.valid">
          </div>
      </form>
      </div>
      <a [hidden]="!pdf_file_link" (click)="sendVoucher();" class="btn btn-info" >Send Voucher</a>
      <a [hidden]="!pdf_file_link"  (click)="renderfile();" class="btn btn-info">View <i class="fa fa-eye" aria-hidden="true"> </i> Pdf <i class="fa fa-file-pdf-o" aria-hidden="true"></i> </a>
      <!-- <embed src="/assets/images/output_5d846fe806a3eb1e6980b7ea.pdf" 
    style="width: 100%;height: 500px" 
    type="application/pdf"> -->
    </div>
    <button
      type="button"
      class="pull-right btn-close-popup"
      aria-label="Close"
      (click)="close()"
    >
      <i class="ic-close"></i>
    </button>
  </div>
  <div class="modal-body">

<div>
  
  <div class="table-responsive" *ngFor="let emp of myData">
    <hr>
    <br>
    <div class="alert alert-info"><b>Booking Person Details</b></div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Address</th>
          <th>Date of Order</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{emp.name}}</td>
          <td>{{emp.email}}</td>
          <td>{{emp.mobile}}</td>
          <td>{{emp.address}}</td>
          <td>{{emp.date_added}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <br>
     <div class="alert alert-info"><b>Order Details</b></div>
     <table class="table">
      <thead>
        <tr>
          <th>Transaction Id</th>
          <th>Amount</th>
          <th>Name</th>
          <th>Date</th>
          <th>Zone</th>
          <th>Timing</th>
          <th>Vehicle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of emp.orderdetails">
          <td>{{order.transaction_id}}</td>
          <td>{{order.amount}}</td>
          <td>{{order.name}}</td>
          <td>{{order.date}}</td>
          <td> {{order.zone}}</td>
          <td> {{order.timing}}</td>
          <td>{{order.vehicle}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <br>
     <div class="alert alert-info"><b>Booked Customers Details</b></div>
     <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Nationality</th>
          <th>Gender</th>
          <th>Id Proof</th>
          <th>Id Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of emp.customerdetails">
          <td>{{customer.name}}</td>
          <td>{{customer.nationality}}</td>
          <td>{{customer.gender}}</td>
          <td>{{customer.id_proof}}</td>
          <td>{{customer.idnumber}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


  <script>
      $(document).ready(function(){
        $("#myBtn").click(function(){
          $("#myModal").modal();
        });
      });
      </script>