  <div class="modal-header">
    <div class="title-row py-0">
      <div class="inner-page-title">Edit Booking Prices</div>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="studnt-dashbrd-rgt-sec school-dashbrd-rgt-sec">
          <div
            class="home-reg-wrapper mr-0"
          >
            <form
              name="editBookingPriceForm"
              [formGroup]="editBookingPriceForm"
              (ngSubmit)="editBookingPrice()"
              autocomplete="off"
              novalidate
            >
              <div class="home-reg-form">
                <div class="benefy-cmn-frm-sec">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="indian_price">Indian Booking Price</label>
                        <input
                          id="indian_price"
                          required
                          class="form-control"
                          placeholder=" "
                          type="number"
                          formControlName="indian_price"
                        />
                        <div *ngIf="submitted && editProFrm.indian_price.errors">
                          <div
                            class="validation-error"
                            *ngIf="editProFrm.indian_price.errors.required"
                          >
                            Indian Booking Price
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="foreigner_price">Foreigner Booking Price</label>
                        <input
                          id="foreigner_price"
                          required
                          class="form-control"
                          placeholder=" "
                          type="number"
                          formControlName="foreigner_price"
                        />
                        <div *ngIf="submitted && editProFrm.foreigner_price.errors">
                          <div
                            class="validation-error"
                            *ngIf="editProFrm.foreigner_price.errors.required"
                          >
                            Foreigner Booking Price
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="benefy-cmn-frm-sec brdr-non">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="save-btm-btn">
                        <button class="btn-cmn btn-green" type="submit">
                          Save
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
         
        </div>
      </div>
    </div>
  </div>
