<app-header></app-header>
<title>Terms and Conditions</title>
<div class="container">
  <div class="row" >
<h3 style="text-align: center;">Terms and Conditions</h3>
<p class="p1 ft2">Welcome to&nbsp;<a href="http://www.ranthamboretigerreserve.in/"><span class="ft1">www.ranthamboretigerreserve.in/</span></a>&nbsp;(website). The domain name&nbsp;<a href="http://ranthamboretigerreserve.in/"><span class="ft1">http://ranthamboretigerreserve.in/</span></a>&nbsp;is owned by Delhi based travel company &ldquo;Daily Tour and Travel Private Limited&rdquo;. Here we use the term "You" that refers to the direct user or viewer of the website, If you will use the service given by this website it means you will agreed with all our terms and conditions.</p>
<h3 class="p2 ft3">Jeep Safari &amp; Canter Safari Payments are&nbsp;non-refundable</h3>
<p class="p3 ft4">Jeep Safari / Canter Safari charges are&nbsp;non-refundable.&nbsp;Current booking safari charges will be refunded in case booking is not confirmed.</p>
<p class="p1 ft6"><span style="font-size: 15px;" class="ft5"><b>Our Liabilities and Limitations</b> :&nbsp;</span>Please note that after you finalize the tour/service cost and in case if there are any hikes in permit fees of safaris/ taxes, fuel cost or guide charges the same would be charged as extra.</p>
<h3>Current/Tatkal Booking of Ranthambhore National Park</h3>
<h5 style="text-decoration: underline;">Important Notes for Current Bookings:</h5>
<p class="p6 ft2"><span class="ft2">1. </span><span class="ft8">Submit booking request at least one day before.</span></p>
<p class="p6 ft2"><span class="ft2">2. </span><span class="ft8">100% confirmation of current booking is not assured.</span></p>
<p class="p5 ft2"><span class="ft2">3. </span><span class="ft8">Your safari zone may be any one of 1 to 10 zones of Ranthambore Tiger Reserve.</span></p>
<p class="p7 ft4"><span class="ft2">4.</span><span class="ft9">Any specific zone booking is not guaranteed; however, we try our best to book according to your choice.</span></p>
<h3>Things to Keep in Mind for Ranthambore Safari Booking:</h3>
<ul>
<li>You have to pay full fees in advance to make safari bookings.</li>
<li>ID proof is must for each and every visitor.</li>
<li>No refund or cancellation is permitted on confirmed bookings.</li>
<li>Booking is&nbsp;non-transferable&nbsp;and cannot be exchanged with anyone.</li>
<li>You must carry the same ID card that you have submitted during the online booking.</li>
<li>You can book your safari maximum of 90 days in advance.</li>
<li>Passport details are mandatory for foreigner tourists for making reservations.</li>
<li>Safari permit is issued on a first come, first serve basis (subject to availability).</li>
<li>Park may be closed without any prior notice to visitors.</li>

<li>In case of any revision of fees after the booking, visitors will be liable to pay the difference at the time of entry into the park.</li>
<li>The visitors are required to report at the boarding place 15 min prior to the scheduled departure of the safari.</li>
<li>If you book safari for next day, your booking will be considered as &lsquo;current booking&rsquo; and all terms &amp; conditions will be applied as of current bookings.</li>
</ul>

<h5><strong>*Please Note*</strong></h5>
<p>All reservations for use of any facility including entry and stay in Ranthambore Tiger Reserve are provisional in nature and are subject to modification/cancellation by the Field Director, Ranthambore Tiger Reserve without assigning any reasons. Making a reservation will imply your agreement to any and all of the terms and conditions laid down here. There shall be no cancellation/refund for any safari under any circumstances and no request shall be entertained for refund/rescheduling of safari.
	</p>

<br /><br />
<div class="text-center">
	<a href="/" class="btn btn-primary"><span class="fa fa-home"></span> Back to Home</a>
</div>
		<br>
</div>
</div>
<app-footer></app-footer>