<app-header></app-header>
<title>Terms and Conditions</title>
<div class="container">
	<div class="row" >
		<h3 style="text-align: center;">Cancellation Policy</h3>
		<h4><b>Jeep Safari & Canter Safari Payments are non-refundable</b></h4>
			<p>Jeep Safari / Canter Safari charges are non-refundable. Current booking safari charges will be refunded in case booking is not confirmed.</p>

			
		<br /><br />

		<h5><strong>*Please Note*</strong></h5>
<p>All reservations for use of any facility including entry and stay in Ranthambore Tiger Reserve are provisional in nature and are subject to modification/cancellation by the Field Director, Ranthambore Tiger Reserve without assigning any reasons. Making a reservation will imply your agreement to any and all of the terms and conditions laid down here. There shall be no cancellation/refund for any safari under any circumstances and no request shall be entertained for refund/rescheduling of safari.
	</p>

		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<div class="text-center">
			<a href="/" class="btn btn-primary"><span class="fa fa-home"></span> Back to Home</a>
		</div>
		<br>
	</div>
</div>
<app-footer></app-footer>