<app-header></app-header>
<div class="container">
  <div class="row" style="margin-bottom: 24%;">
  	<br/>
  	<br/>
<p><strong>Contact Us.</strong><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">Ranthambhore National Park</span></p>
<p><span style="font-weight: 400;">Sawai Madhopur, Rajasthan 322001</span></p>
<!-- <p><span style="font-weight: 400;">Contact : 7838498645</span></p> -->
<p><span style="font-weight: 400;">Contact : +91 7838 4986 45 Or  +91 7289 8427 72 Or  +91 8929 6314 40</span></p>
<p><span style="font-weight: 400;">Email id : </span><a href="mailto:ranthambore360@gmail.com"><span style="font-weight: 400;">ranthambore360@gmail.com</span><span style="font-weight: 400;"><br /></span></a><span style="font-weight: 400;">website : ranthamboretigerreserve.in</span></p>
<br>
<div class="text-center">
			<a href="/" class="btn btn-primary"><span class="fa fa-home"></span> Back to Home</a>
		</div>
		<br>
</div>
<br>
</div>
<app-footer></app-footer>
