<div class="container">
  <div class="row title-row">
    <div class="col-lg-12">
      <div class="inner-page-title header">Products</div>
    </div>
  </div>
  <div class="row filter-row">
    <div class="col-md-9">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="Serach by Name..." value=""
          [formControl]="searchtxtControl" />
      </div>
    </div>
    <div class="col-md-3">
      <div class="pull-right">
        <button *ngIf="canAdd" class="btn btn-primary cursor-pointor mr-1" type="button" (click)="create()"
          tooltip="Add">
          <i class="fa fa-plus"></i>
        </button>
        <button *ngIf="canDelete" class="btn btn-outline-gray cursor-pointor mr-1" (click)="delete()" type="button"
          tooltip="Delete" [disabled]="!this.products.length">
          <i class="fa fa-trash-o"></i>
        </button>
        <button *ngIf="canUpdate" class="btn btn-outline-gray cursor-pointor mr-1" type="button"
          (click)="changeStatus('Active',null)" tooltip="Activate" [disabled]="!this.products.length">
          <i class="fa fa-unlock-alt"></i>
        </button>
        <button *ngIf="canUpdate" class="btn btn-outline-gray cursor-pointor mr-1" type="button"
          (click)="changeStatus('In Active',null)" tooltip="In Activate" [disabled]="!this.products.length">
          <i class="fa fa-lock"></i>
        </button>
        <button class="btn btn-outline-gray cursor-pointor mr-1" type="button" (click)="refreshList()"
          tooltip="Refresh">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row mx-0">
    <div class="col-lg-12 col-md-12 mb-12">
      <ngx-datatable *ngIf="products && products.length > 0" #table class="material" [headerHeight]="50"
        [columnMode]="'flex'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="products" [selected]="selected"
        [selectionType]="'checkbox'" (select)="onSelect($event)" [externalPaging]="true" [count]="pageInfo.count"
        [loadingIndicator]="gridLoadingIndicator" [offset]="pageInfo.pageNumber" [limit]="pageInfo.pageSize"
        (page)="setPage($event)" (sort)="onSort($event)">
        <ngx-datatable-column [width]="5" [flexGrow]="2" [sortable]="false" [canAutoResize]="false" [draggable]="true"
          [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column name="Name" [flexGrow]="4" cellClass="text-truncate">
          <!-- <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
            <span>{{ value }}</span>
          </ng-template> -->

          <ng-template ngx-datatable-cell-template let-row="row">
            <span>
              <div class="user-pic">
                <div class="user-pic-inner">
                  <img *ngIf="row.images[0]" [src]="row.images[0].url" />
                </div>
              </div>
              <span [innerHTML]="row.name"></span>
            </span>
          </ng-template>

        </ngx-datatable-column>
        <ngx-datatable-column name="Category" [width]="25" [flexGrow]="3" cellClass="text-truncate">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{ row.category }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Sub Category" [width]="25" [flexGrow]="3">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Regular Price" [width]="25" [flexGrow]="2">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [width]="10" [flexGrow]="1">
          <ng-template ngx-datatable-cell-template let-value="value">
            <span class="badge badge-success" *ngIf="value === 'Active'">Active</span>
            <span class="badge badge-warning" *ngIf="value === 'Pending'">Pending</span>
            <span class="badge badge-gray" *ngIf="value === 'In Active'">In Active</span>
          </ng-template>
        </ngx-datatable-column>


        <!-- taaaa -->

        <ngx-datatable-column name=" " [flexGrow]="2">
          <ng-template ngx-datatable-cell-template let-row="row">
            <div class="edit-icon-sec">
              <a (click)="update(row.id)" tooltip="Edit" *ngIf="canUpdate" [adaptivePosition]="false">
                <i class="fa fa-edit fa-lg"></i>
              </a>
              <a (click)="changeStatus('Active',row.id)" *ngIf="canUpdate && row.status!=='Active'"
                [adaptivePosition]="false" tooltip="Activate"><i class="fa fa-unlock-alt fa-lg"></i>
              </a>
              <a tooltip="In Activate" *ngIf="canUpdate && row.status==='Active'" [adaptivePosition]="false"
                (click)="changeStatus('In Active',row.id)">
                <i class="fa fa-lock fa-lg"></i>
              </a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <!-- aa -->



      </ngx-datatable>
      <!-- <select name="ipp" id="ipp" (change)="pageLimit(pageInfo.pageSize)"  [formControl]="pageInfo.pageSize">
        <option [value]="100">Items per page</option>
        <option [value]="10">10</option>
        <option [value]="25">25</option>
        <option [value]="50">50</option>
        <option [value]="100">100</option>
        <option [value]="200">200</option>
      </select> -->
      <div class="no-data-found" *ngIf="!products || !products.length">
        <div class="no-data-found-sec"><i><img alt="" src="assets/images/norecord-img.png"></i><span>No data for
            listing</span></div>
      </div>
    </div>
  </div>
</div>